.botaovenda{
background:    #15d798;
border-radius: 1000px;
box-shadow:    0 2px #444444;
padding:       20px 45px;
color:         #ffffff;
display:       inline-block;
font:          normal bold 26px/1 "Roboto", sans-serif;
text-align:    center;
}
